@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="text-white text-2xl py-2">Gerenciar sua conta</h1>

<div class="text-white">
    <h2 class="text-white text-xl">Mude as configurações da sua conta</h2>
    <hr />
    <div class="grid grid-cols-3">
        <div class="mx-6">
            <partial name="_ManageNav" />
        </div>
        <div class="col-span-2">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
