@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="text-white text-2xl py-2 text-center">Gerenciar sua conta</h1>

@RenderBody()


@section Scripts {
    @RenderSection("Scripts", required: false)
}
