@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "red" : "green";
    <div class="alert- text-2xl text-@statusMessageClass-500 text-center" role="alert">
        @Model
    </div>
}
