@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Mudar Senha";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3 class="text-center text-4xl my-2">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row justify-center flex">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
            <div class="flex flex-col">
                <label asp-for="Input.OldPassword" class="form-label"></label>
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Digite sua senha atual" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="flex flex-col">
                <label asp-for="Input.NewPassword" class="form-label"></label>
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Digite a nova senha" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                <div class="flex flex-col">
    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Digite novamente a nova senha" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="my-2 p-4 border border-gray-700 bg-green-500 rounded-lg w-full">Atualizar senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
