
.table .btn {
    width: fit-content;
    font-size: 16px;
}

.table {
    border-collapse: separate;
    width: 100%;
}

    .table td, .table th {
        padding: 12px 15px;
        text-align: center;
    }

    .table th {
        color: #FFFFFF;
        background-color: #0D0D0D;
    }

    .table tr {
        color: #FFFFFF;
        background-color: #545454;
    }

@media (max-width: 999px) {


    .table thead {
        display: none;
    }

    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }

        .table tr {
            margin-bottom: 15px;
        }

        .table td::before {
            content: attr(data-label);
            left: 0;
            width: 50%;
            padding-left: 15px;
            font-weight: bold;
            text-align: left;
        }
}