@model Schwarz.Models.Estoque

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full lg:w-7/12 bg-white p-2 rounded-lg lg:rounded-l-none">
                <h3 class="pt-4 text-2xl text-center">Lançamento de Pedidos</h3>
                <form asp-action="Create" class="px-8 bg-white rounded">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Setor" class="control-label"></label>
                        <input asp-for="Setor" class="form-control" />
                        <span asp-validation-for="Setor" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Urgencia" class="control-label"></label>
                        <select asp-for="Urgencia" class="form-select">
                            <option value="Urgente">Urgente</option>
                            <option value="Pouco Urgente">Pouco Urgente</option>
                            <option value="Não Urgente">Não Urgente</option>
                        </select>
                        <span asp-validation-for="Urgencia" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Peca" class="control-label"></label>
                        <input asp-for="Peca" class="form-control" />
                        <span asp-validation-for="Peca" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" class="control-label"></label>
                        <input asp-for="Quantidade" class="form-control" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Entregue" /> @Html.DisplayNameFor(model => model.Entregue)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lançar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: "Selecione o funcionário",
            language: {
                noResults: function () {
                    return "Nenhum resultado encontrado";
                }
            }
        });

    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
