@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de alteração de senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    <a id="confirm-link" href="@Model.UrlResetPassword">Clique aqui para recuperar sua senha.</a>
    
</p>
