@page
@model ForgotPasswordModel


<partial name="_StatusMessage" for="StatusMessage" />
<div class="w-full h-full">
<div class="mx-auto content-center">
    <div class="flex justify-center px-6 my-4">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex items-center">
            <div class="w-full bg-white p-2 rounded-lg">
                <h3 class="pt-4 text-2xl text-center">Esqueceu sua senha?</h3>
                <form method="post" class="px-8 bg-white rounded">
                    <div class="mb-4">
                        <label asp-for="Input.Usuario" class="block mb-2 text-sm font-bold text-gray-700l"></label>
                        <input asp-for="Input.Usuario" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Usuário" />
                        <span asp-validation-for="Input.Usuario" class="text-lg text-red"></span>
                    </div>

                    <div class="mb-6 text-center">
                        <input type="submit" value="Alterar Senha" class="w-full px-4 py-4 font-bold text-white bg-gradient-to-r from-yellow-300 to-amber-500 rounded-full hover:bg-gradient-to-r hover:from-amber-300 hover:to-yellow-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<style>
    .alert-success {
        background-color: rgb(61 32 32);
        border-color: rgb(88 48 46);
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
