@page
@model RegisterModel
@{
	ViewData["Title"] = "Registrar";
}
@Html.Partial("_Bootstrap");

<h1>@ViewData["Title"]</h1>

<div class="row">
	<div class="col-md-4">
		<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
			<h2>Criar uma conta nova.</h2>
			<hr />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<input asp-for="Input.Usuario" class="form-control" autocomplete="username" aria-required="true" />
				<label asp-for="Input.Usuario"></label>
				<span asp-validation-for="Input.Usuario" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
				<label asp-for="Input.Password"></label>
				<span asp-validation-for="Input.Password" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
				<label asp-for="Input.ConfirmPassword"></label>
				<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Email" class="form-control" />
				<label asp-for="Input.Email"></label>
				<span asp-validation-for="Input.Email" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Nome" class="form-control" required />
				<label asp-for="Input.Nome"></label>
				<span asp-validation-for="Input.Nome" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Matricula" class="form-control" />
				<label asp-for="Input.Matricula"></label>
				<span asp-validation-for="Input.Matricula" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<select asp-for="Input.Turno" class="form-select">
					<option value="">Selecione um Turno</option>
					<option value="1° Turno">1° Turno</option>
					<option value="2° Turno">2° Turno</option>
					<option value="3° Turno">3° Turno</option>
					<option value="ADM">ADM</option>
				</select>
				<label asp-for="Input.Turno"></label>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Setor" class="form-control" />
				<label asp-for="Input.Setor"></label>
				<span asp-validation-for="Input.Setor" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Cargo" class="form-control" />
				<label asp-for="Input.Cargo"></label>
				<span asp-validation-for="Input.Cargo" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<label asp-for="Input.Ativo"></label>
				<input asp-for="Input.Ativo" type="radio" id="sim" value="true">
				<label for="sim">Sim</label>
				<input asp-for="Input.Ativo" type="radio" id="nao" value="false">
				<label for="nao">Não</label>
				<span asp-validation-for="Input.Ativo" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Ramal" class="form-control" />
				<label asp-for="Input.Ramal"></label>
				<span asp-validation-for="Input.Ramal" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.Foto" class="form-control" type="file" accept="image/*"/>
				<label asp-for="Input.Foto"></label>
			</div>
			<div class="form-floating">
				<select asp-for="Input.IdAspNetUserLider" class="form-select" asp-items="ViewBag.SchwarzUsers">
					<option value="" selected>Selecione um Líder/Gerente</option>
				</select>
				<label asp-for="Input.IdAspNetUserLider"></label>
			</div>
			<div class="form-floating">
				<label asp-for="Input.Interno"></label>
				<input asp-for="Input.Interno" type="radio" id="sim" value="true">
				<label for="sim">Sim</label>
				<input asp-for="Input.Interno" type="radio" id="nao" value="false">
				<label for="nao">Não</label>
				<span asp-validation-for="Input.Interno" class="text-danger"></span>
			</div>


			<button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
		</form>
	</div>
	<div class="col-md-6 col-md-offset-2">
		<section>
			<h3>Crie uma conta para aproveitar ao máximo o site.</h3>
			<hr />
		</section>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
