@model Ideia
@{
    ViewData["Title"] = "Cadastrar";
    Layout = "_Layout";
}

<div class="mx-auto">
    <div class="flex justify-center px-6 my-4">
        <div class="w-full xl:w-3/4 lg:w-11/12 flex">
            <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-5/12 bg-cover rounded-l-lg"
                 style="background-image: url('/image/ampola-com-grafico-do-desenho.png')"></div>

            <div class="w-full lg:w-7/12 bg-white p-2 rounded-lg lg:rounded-l-none">
                <h3 class="pt-4 text-2xl text-center">Formulário de Cadastro</h3>
                <div class="text-center">
                    <p class="inline-block text-sm text-red-500 align-baseline">
                        Os campos com * são obrigatórios
                    </p>
                </div>
                <form action="Create" method="post" class="px-8 bg-white rounded" enctype="multipart/form-data">
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-bold flex items-center"><span class="text-red-500 text-2xl">*</span>Participantes</label>
                        <select asp-for="Participantesids" class="form-select select2 w-full" required multiple asp-items="ViewBag.Funcionarios">
                        </select>
                        @Html.ValidationMessageFor(x => x.Participantesids)
                    </div>

                    <div class="mb-4">
                        <label asp-for="Descricao" class="block mb-2 text-sm font-bold flex items-center"><div class="text-red-500 text-2xl">*</div>Descrição da Ideia</label>
                        <textarea asp-for="Descricao" style="min-height: calc(1.5em + 0.75rem + 100px);" class="w-full px-3 py-2 mb-3 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline w-full px-3 py-2 mb-3 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva sobre sua ideia" required></textarea>
                        @Html.ValidationMessageFor(x => x.Descricao)
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-bold flex items-center"><span class="text-red-500 text-2xl">*</span>A Ideia foi implantada?</label>
                        <div class="flex justify-start">
                            <div>
                                <input asp-for="Status" type="radio" id="foiImplantada" value="Aplicada" />
                                <label for="foiImplantada">Sim</label>
                            </div>
                            <div class="mx-4">
                                <input asp-for="Status" type="radio" id="naoImplantada" value="Recebida" />
                                <label for="naoImplantada">Não</label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4 md:flex md:justify-between">
                        <div class="col">
                            <label asp-for="Ganho" class="block mb-2 text-sm font-bold"></label>
                            <input asp-for="Ganho" class="w-full px-3 py-2 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Descreva o ganho" />
                        </div>
                        <div class="col">
                            <label asp-for="Investimento" class="block mb-2 text-sm font-bold"></label>
                            <input asp-for="Investimento" class="w-full px-3 py-2 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Quanto é o investimento?">
                        </div>
                        <div class="col">
                            <label asp-for="SolicitacaoAnalise" class="block mb-2 text-sm font-bold"></label>
                            <input asp-for="SolicitacaoAnalise" class="w-full px-3 py-2 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline" autocomplete="off" placeholder="Solicitação de Análise">
                        </div>
                    </div>

                    <div class="mb-4 md:flex md:justify-between">
                        <div class="col">
                            <label asp-for="OrdemServico" class="block mb-2 text-sm font-bold"></label>
                            <input asp-for="OrdemServico" class="w-full px-3 py-2 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline ordemServico" autocomplete="off" placeholder="OrdemServico">
                        </div>
                        <div class="col hidden" id="divImplantacao">
                            <label asp-for="DataImplantacao" class="block mb-2 text-sm font-bold flex items-center"><span class="text-red-500 text-2xl">*</span>Data de Implantação</label>
                            <input asp-for="DataImplantacao" type="date" class="w-full px-3 py-2 text-sm leading-tight border rounded shadow appearance-none focus:outline-none focus:shadow-outline">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="block mb-2 text-sm font-bold">Anexos:</label>
                        <input type="file" name="files" multiple>
                    </div>
                    <div class="mb-6 text-center">
                        <input type="submit" value="Cadastrar" class="w-full px-4 py-4 font-bold text-white bg-gradient-to-r from-yellow-300 to-amber-500 rounded-full hover:bg-gradient-to-r hover:from-amber-300 hover:to-yellow-500 rounded-full hover:cursor-pointer focus:outline-none focus:shadow-outline" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: "Selecione os participantes",
            width: '100%',
            maximumSelectionLength: 4,
            language: {
                maximumSelected: function () {
                    return "O máximo de participantes é 4";
                },
                noResults: function () {
                    return "Nenhum resultado encontrado";
                }
            }
        });

        if ($('input[name="Status"]:checked').val() == 'Aplicada') {
            $('#divImplantacao').removeClass('hidden');
            $('#DataImplantacao').prop('required', true);
        }

        $('input[name="Status"]').on('click', function () {
            console.log($(this).val());
            if ($(this).val() == 'Aplicada') {
                $('#divImplantacao').removeClass('hidden');
                $('#DataImplantacao').prop('required', true);
            }else {
                $('#DataImplantacao').prop('required', false);
                $('#divImplantacao').addClass('hidden');
            }
        });

    });
</script>
