@model Ideia
@{
    ViewData["Title"] = "Editar";
    Layout = "_Layout";
}

<h1 class="text-center fw-bold fs-1 text-warning">Editar</h1>
<div class="container p-3 mb-auto text-light">
    <form id="form" method="post">
        <div class="row">
            <div class="col">
                <img class="icone" src="https://cdn-icons-png.flaticon.com/512/3176/3176212.png" alt="imagem de prancheta e caneta" />
                <label asp-for="Descricao" class="control-label required"></label>
                <textarea asp-for="Descricao" style="min-height: calc(1.5em + 0.75rem + 100px);" class="form-control descricao required" autocomplete="off" placeholder="Descreva sobre sua ideia"></textarea>
                @Html.ValidationMessageFor(x => x.Descricao)
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img class="icone" src="https://cdn-icons-png.flaticon.com/512/2460/2460494.png" alt="imagem de dinheiro" />
                <label asp-for="Ganho" class="control-label"></label>
                <input asp-for="Ganho" class="form-control" autocomplete="off" placeholder="Descreva qual foi o ganho" />
            </div>
            <div class="col">
                <img class="icone" src="https://cdn-icons-png.flaticon.com/512/2543/2543190.png" alt="imagem de um time" />
                <label class="control-label">Quanto foi ou será o investimento?</label>
                <input asp-for="Investimento" class="form-control" autocomplete="off" placeholder="Investimento">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img class="icone" src="https://cdn-icons-png.flaticon.com/512/825/825792.png" alt="imagem de um capacete e uma engrenagem" />
                <label class="control-label">Se houver, digite o número da Solicitação de Análise</label>
                <input asp-for="SolicitacaoAnalise" class="form-control" autocomplete="off" placeholder="N° Solicitação de Análise">
            </div>
            <div class="col">
                <img class="icone" src="https://cdn-icons-png.flaticon.com/512/4259/4259285.png" alt="imagem de duas ferramentas" />
                <label class="control-label">Se houver, digite o número da OS aberta</label>
                <input asp-for="OS" class="form-control" autocomplete="off" placeholder="N° da OS aberta">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select">
                    <option value="">Selecione o Status</option>
                    <option value="Aplicada">Aplicada</option>
                    <option value="Recebida">Recebida</option>
                    <option value="Aprovada">Aprovada</option>
                    <option value="Cancelada">Cancelada</option>
                    <option value="Direcionada">Direcionada</option>
                    <option value="Em Processo">Em Processo</option>
                </select>
                @Html.ValidationMessageFor(x => x.Status)
            </div>
            <div class="col">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label asp-for="Feedback" class="control-label"></label>
                <input asp-for="Feedback" class="form-control" />
            </div>
        </div>
        
        <div class="mb-3">
            <input type="hidden" asp-for="IDIdeia" />
            <input type="hidden" asp-for="NomeEquipe" />
            <input style="padding: 16px 0px;margin-top:16px;" type="submit" value="Editar" class="btn btn-edit w-100" />
        </div>
    </form>
</div>