<a class="btn btn-success" asp-action="Create">Cadastrar Ideia</a>
<h1 style="color:black" class="titulo">Tabela de Ideias</h1>
<div class="col-sm-12">
	<div style="display:flex" class="form-inline pull-right">
		<input style="padding: 10px; margin-bottom:10px;width: 600px;" type="text" class="form-control" id="txtPesquisa" placeholder="Digite algo para buscar" />
		<button onclick="ShowLoading(),carregarIdeias()" class="btn btn-info">Pesquisar</button>
	</div>
</div>
<div id="grdIdeias"></div>

<script>

	$(() => {
		ShowLoading();
		carregarIdeias();
	});

	function carregarIdeias() {
		$.ajax({
			url: '@Url.Action("PesquisarIdeia","Ideia")',
			datatype: 'html',
			method: 'GET',
			data: { txtPesquisa: $('#txtPesquisa').val() },
			success: function (res) {
				$('#grdIdeias').html('').html(res);
				HideLoading();
			},
			error: function (err) {
				console.log(err);
			}
		})
	}
</script>