
<h1 style="color:black" class="titulo">Tabela de Ideias</h1>
<div class="col-sm-12">
	<div style="display:flex;justify-content:space-around;align-items:center" class="form-inline pull-right">
		<div>	
			<input style="padding: 10px; margin-bottom:10px;width: 600px;" type="text" class="form-control" id="txtPesquisa" placeholder="Digite algo para buscar" />
			<button onclick="ShowLoading(),carregarIdeias()" class="btn btn-info">Pesquisar</button>
		</div>
		<div>
			<label>Ano</label>
			<select onchange="ShowLoading(),carregarIdeias()" class="form-select" id="selectanos">
				<option select value="">Nenhum</option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2021">2021</option>
				<option value="2022">2022</option>
				<option value="2023">2023</option>
			</select>
		</div>
		<div>
			<label>Status</label>
			<select onchange="ShowLoading(),carregarIdeias()" class="form-select" id="selectstatus">
				<option select value="">Nenhum</option>
				<option value="Aplicada">Aplicada</option>
				<option value="Aprovada">Aprovada</option>
				<option value="Cancelada">Cancelada</option>
				<option value="Direcionada">Direcionada</option>
				<option value="Em Processo">Em Processo</option>
				<option value="Recebida">Recebida</option>
			</select>
		</div>
		<div>
			<a class="btn btn-success" asp-action="Create">Cadastrar Ideia</a>
		</div>
	</div>
</div>
<div id="grdIdeias"></div>

<script>

	$(() => {
		ShowLoading();
		carregarIdeias();
	});
	const itemano = document.querySelectorAll('ano');
	const anos = []
	itemano.forEach( (i) => {
		if(i.classList.contains('checked')){
		}
	});
	
	function carregarIdeias() {
		$.ajax({
			url: '@Url.Action("PesquisarIdeia","Ideia")',
			datatype: 'html',
			method: 'GET',
			data: { txtPesquisa: $('#txtPesquisa').val(), ano: $('#selectanos').val(), status: $('#selectstatus').val() },
			success: function (res) {
				$('#grdIdeias').html('').html(res);
				HideLoading();
			},
			error: function (err) {
				console.log(err);
			}
		})
	}
</script>