@model int?

<div class="container mx-auto px-4 sm:px-8">
<div>
<h2 class="text-2xl font-semibold leading-tight text-white pt-3">Painel de Ideias</h2>
</div>
<div id="grdIdeias"></div>

<script>
	$(() => {
		ShowLoading();
		carregarIdeias(@Model);
	});
		function carregarIdeias(idfunc) {
		$.ajax({
			url: '@Url.Action("BuscarIdeias","Ideia")',
			datatype: 'html',
			method: 'GET',
					data: { idfuncionario: idfunc },
			success: function (res) {
				$('#grdIdeias').html('').html(res);
			},
			error: function (err) {
				console.log(err);
			}
		})
	}
</script>
