<a class="btn btn-success" asp-action="Create">Cadastrar Ideia</a>
<h1 style="color:black" class="titulo">Tabela de Ideias</h1>
<div class="col-sm-12">
	<div style="display:flex" class="form-inline pull-right">
		<input style="padding: 10px; margin-bottom:10px;width: 600px;" type="text" class="form-control" id="txtPesquisa" placeholder="Digite algo para buscar" />
		<button onclick="ShowLoading(),carregarIdeias()" class="btn btn-info">Pesquisar</button>
		<div>
			<label>Ano</label>
			<select onchange="carregarIdeias()" class="select-control" id="selectanos">
				<option select value=""></option>
				<option value="2019">2019</option>
				<option value="2020">2020</option>
				<option value="2021">2021</option>
				<option value="2022">2022</option>
				<option value="2023">2023</option>
			</select>
		</div>
		<div>
			<ul class="list-items">
				<li class="item ano" id="2022">
					<span class="checkbox">
						<i>2022</i> 
					</span>
				</li>
				<li class="item ano" id="2023">
					<span class="checkbox">
						<i>2023</i> 
					</span>
				</li>
			</ul>
		</div>

	</div>
</div>
<div id="grdIdeias"></div>

<script>

	$(() => {
		ShowLoading();
		carregarIdeias();
	});
	const itemano = document.querySelectorAll('ano');
	const anos = []
	itemano.forEach( (i) => {
		if(i.classList.contains('checked')){
			anos.
		}
	});
	
	function carregarIdeias() {
		$.ajax({
			url: '@Url.Action("PesquisarIdeia","Ideia")',
			datatype: 'html',
			method: 'GET',
			data: { txtPesquisa: $('#txtPesquisa').val(), ano: $('#selectanos').val() },
			success: function (res) {
				$('#grdIdeias').html('').html(res);
				HideLoading();
			},
			error: function (err) {
				console.log(err);
			}
		})
	}
</script>