
<div class="container mx-auto px-4 sm:px-8">
<div>
<h2 class="text-2xl font-semibold leading-tight">Painel de Ideias</h2>
</div>
<div id="grdIdeias"></div>

<script>
	$(() => {
		ShowLoading();
		carregarIdeias();
	});
	
	function carregarIdeias() {
		$.ajax({
			url: '@Url.Action("BuscarIdeias","Ideia")',
			datatype: 'html',
			method: 'GET',
			data: { },
			success: function (res) {
				$('#grdIdeias').html('').html(res);
				HideLoading();
			},
			error: function (err) {
				console.log(err);
			}
		})
	}
</script>
