@using static ProgramaIdeias.Controllers.IdeiaController;
@model IEnumerable<Funcionario>


<div class="container mx-auto my-4 rounded-2xl" style="background-image: url(/image/formula1background.jpg);">
    <div class="bg-zinc-800 px-0 rounded-t-2xl py-1 flex justify-center items-center">
        <h1 class="text-6xl text-red-600 text-center font-black">SCHWARZ 1</h1>
        <img src="~/image/Logo.png" class="ml-5 w-18 h-20" />
    </div>

    <div class=" overflow-y-auto" style="max-height: 70vh">
        <div class="inline-block min-w-full rounded-lg overflow-hidden p-8" style="font-family: 'Comfortaa', cursive;">
            <div class="grid grid-cols-8 gap-6">
                @foreach (var funcionario in Model)
                {
                    <div class="row text-black text-center inline-grid justify-center bg-zinc-100/50 rounded hover:bg-zinc-100/75 hover:scale-125">
                        @if (funcionario.Foto == null)
                        {
                            <div class="justify-center flex">
                                <img class="object-center object-cover rounded-full h-24 w-24" src="\image\user.png" alt="Ícone sem foto">
                            </div>
                        }
                        else
                        {
                            <div class="justify-center flex">
                                <img class="object-center object-cover rounded-full h-24 w-24" src="data:image;base64,@(Convert.ToBase64String(funcionario.Foto))" alt="Foto do funcionário">
                            </div>

                        }
                        <label style="min-height: 4rem">@funcionario.PrimeiroUltimoNome</label>
                        @if (funcionario.QuantidadeIdeias2023 > 0)
                        {
                            <div class="my-2 grid grid-cols-4">
                                @if (funcionario.QuantidadeIdeias2023 <= 4)
                                {
                                    for (int i = 0; i < funcionario.QuantidadeIdeias2023; i++)
                                    {

                                        <img class="object-center object-cover h-8 w-8" src="\image\form.png" alt="ícone formulário">

                                    }
                                }
                                else
                                {
                                    for (int i = 0; i < 4; i++)
                                    {
                                        <img class="object-center object-cover h-8 w-8" src="\image\form.png" alt="ícone formulário">
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <div class="my-2 grid grid-cols-4" style="min-height: 2rem"></div>
                        }

                        @if (funcionario.QuantidadeIdeiasImplementadas2023 > 0)
                        {
                            <div class="my-2 grid grid-cols-4">
                                @if (funcionario.QuantidadeIdeiasImplementadas2023 <= 4)
                                {
                                    for (int i = 0; i < funcionario.QuantidadeIdeiasImplementadas2023; i++)
                                    {

                                        <img class="object-center object-cover h-8 w-8" src="\image\rocket.png" alt="ícone foguete">

                                    }
                                }
                                else
                                {
                                    for (int i = 0; i < 4; i++)
                                    {
                                        <img class="object-center object-cover h-8 w-8" src="\image\rocket.png" alt="ícone foguete">
                                    }
                                }
                            </div>
                        }
                        else
                        {
                            <div class="my-2 grid grid-cols-4" style="min-height: 2rem"></div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
