@using static ProgramaIdeias.Controllers.IdeiaController;
@model IEnumerable<Funcionario>
@{
	var posicao = 1;
}


<div class="container mx-auto my-12 rounded-2xl bg-no-repeat bg-cover" style="font-family: 'Comfortaa', cursive; background-image: url(/image/formula1background.jpg);">
	<div class="bg-zinc-800 px-0 rounded-t-2xl py-5 flex justify-center">
		<h1 class="text-6xl text-white text-center font-black">Ranking de Ideias</h1>
		<img src="~/image/Logo.png" class="w-14 h-14" />
	</div>

	<div class="-mx-4 sm:-mx-8py-4 overflow-x-auto my-4">
		<div  class="inline-block min-w-full rounded-lg overflow-hidden p-5">
			<div class="column-3">
				@foreach(var funcionario in Model)
				{
					<div>
						<label>@funcionario.Nome</label>
						<label>@funcionario.QuantidadeIdeias2023</label>
					</div>
				}
				
			</div>
		</div>
	</div>
</div>
