<div class="container mx-auto px-4 sm:px-8">
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto my-4">
        <div style="background:url(~/wwwroot/image/dark_low_poly_geometric_design_background_2912.jpg)" class="inline-block min-w-full shadow rounded-lg overflow-hidden p-5">
            <table class="table border-separate w-full border-spacing-x-0 border-spacing-y-2">
                <thead class="bg-blue-900 text-white">
                    <tr>
                        <th class="">Pontuação</th>
                        <th class="">Nome</th>
                        <th class="">Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-black text-white text-2xl">
                        <td class="bg-white">1°</td>
                        <td class="">Guilherme</td>
                        <td class="">15 pts</td>
                    </tr>
                    <tr class="bg-black text-2xl">
                        <td class="bg-white">2°</td>
                        <td class="">André</td>
                        <td class="">10 pts</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
