@using static ProgramaIdeias.Controllers.IdeiaController;
@model List<Player>
<div style="background-image:url(https://cdn.pixabay.com/photo/2016/01/21/04/15/color-1152783_1280.jpg)" class="container mx-auto my-5 px-4 sm:px-8">
	<div>
		<h1 class="text-6xl text-white text-center font-black">Ranking de Ideias</h1>
	</div>

	<div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto my-4">
		<div  class="inline-block min-w-full rounded-lg overflow-hidden p-5">
			<table class="table border-separate w-full border-spacing-x-0 border-spacing-y-2">
				<thead class="bg-blue-900 text-white">
					<tr>
						<th class="text-left">Pontuação</th>
						<th class="">Nome</th>
						<th class="">Pontuação</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var p in Model)
					{
						<tr class="bg-black text-white text-2xl">
							<td class="bg-white text-left text-black">@p.Posicao°</td>
							<td class="">@p.Nome</td>
							<td class="">@p.Points pts</td>
						</tr>
					}

				</tbody>
			</table>
		</div>
	</div>
</div>
