@model Schwarz.Models.Funcionario

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>Funcionario</h4>
<hr />
<div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
        <div class="w-full lg:w-7/12 bg-white p-2 rounded-lg">
            <h3 class="pt-4 text-2xl text-center">Formulário de Edição</h3>
            <form asp-action="Edit" method="post" class="px-8">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IDFuncionario" />
                <div class="mb-4">
                    <label asp-for="Matricula" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Matricula" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Matricula" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Nome" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Nome" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Setor" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Setor" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Setor" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="DataNascimento" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="DataNascimento" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                    </label>
                </div>
                <div class="mb-4">
                    <label asp-for="Turno" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Turno" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Turno" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Email" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Email" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="IDLider" class="block mb-2 text-sm font-bold"></label>
                    <select asp-for="IDLider" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" asp-items="ViewBag.IDLider"></select>
                    <span asp-validation-for="IDLider" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Cargo" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Cargo" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Cargo" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Ramal" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Ramal" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Ramal" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Foto" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="Foto" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="DataAdmissao" class="block mb-2 text-sm font-bold"></label>
                    <input asp-for="DataAdmissao" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline" />
                    <span asp-validation-for="DataAdmissao" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
