@model FSP

@{
	Layout = "_Layout";
	ViewData["Title"] = "Detalhes";
}
<style>
	label {
		color: #ffffff;
	}
</style>
<h1 class="titulo">Detalhes da Falha</h1>

<div class="container">
	<form>

			<div class="mb-3">
				<a class="btn" asp-action="Index"> Voltar para Lista</a>
			</div>>
	</form>
</div>