@model Schwarz.Models.AlertaCota

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout";
}

<h1>Edit</h1>

<h4>ControleForaTolerancia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IDAlertaCota" />
            <div class="form-group">
                <label asp-for="IDRegistroCotas" class="control-label"></label>
                <select asp-for="IDRegistroCotas" class="form-control" asp-items="ViewBag.IDRegistroCotas"></select>
                <span asp-validation-for="IDRegistroCotas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcaoContencao" class="control-label"></label>
                <input asp-for="AcaoContencao" class="form-control" />
                <span asp-validation-for="AcaoContencao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcaoCorretiva" class="control-label"></label>
                <input asp-for="AcaoCorretiva" class="form-control" />
                <span asp-validation-for="AcaoCorretiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioLider" class="control-label"></label>
                <select asp-for="IDFuncionarioLider" class="form-control" asp-items="ViewBag.IDFuncionarioLider"></select>
                <span asp-validation-for="IDFuncionarioLider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConfirmacaoLider" class="control-label"></label>
                <input asp-for="DataConfirmacaoLider" class="form-control" />
                <span asp-validation-for="DataConfirmacaoLider" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
