@model Schwarz.Models.PlanoControle

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";
}

<h1>Create</h1>

<h4>PlanoControle</h4>
<hr />
<div class="row bg-white">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Revisao" class="control-label"></label>
                <input asp-for="Revisao" class="form-control" />
                <span asp-validation-for="Revisao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataOrigem" class="control-label"></label>
                <input type="date" asp-for="DataOrigem" class="form-control" />
                <span asp-validation-for="DataOrigem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAtualizacao" class="control-label"></label>
                <input type="date" asp-for="DataAtualizacao" class="form-control" />
                <span asp-validation-for="DataAtualizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select select2 w-full">
                    <option value="">Selecione o Status</option>
                    <option value="Protótipo">Protótipo</option>
                    <option value="Pré-Lançamento">Pré-Lançamento</option>
                    <option value="Produção">Produção</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoDocumento" class="control-label"></label>
                <input asp-for="CodigoDocumento" class="form-control" />
                <span asp-validation-for="CodigoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto" class="control-label"></label>
                <input asp-for="Produto" class="form-control" />
                <span asp-validation-for="Produto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cliente" class="control-label"></label>
                <input asp-for="Cliente" class="form-control" />
                <span asp-validation-for="Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo" class="control-label"></label>
                <input asp-for="Processo" class="form-control" />
                <span asp-validation-for="Processo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoInterno" class="control-label"></label>
                <input asp-for="CodigoInterno" class="form-control" />
                <span asp-validation-for="CodigoInterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoCliente" class="control-label"></label>
                <input asp-for="CodigoCliente" class="form-control" />
                <span asp-validation-for="CodigoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroFluxo" class="control-label"></label>
                <input asp-for="NumeroFluxo" class="form-control" />
                <span asp-validation-for="NumeroFluxo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacoes" class="control-label"></label>
                <input asp-for="Observacoes" class="form-control" />
                <span asp-validation-for="Observacoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioElaborador" class="control-label"></label>
                <select asp-for="IDFuncionarioElaborador" class="form-select select2 w-full" asp-items="ViewBag.Funcionarios"></select>
                <span asp-validation-for="IDFuncionarioElaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDFuncionarioAprovador" class="control-label"></label>
                <select asp-for="IDFuncionarioAprovador" class="form-select select2 w-full" asp-items="ViewBag.Funcionarios"></select>
                <span asp-validation-for="IDFuncionarioAprovador" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: "Selecione o funcionário",
            width: '100%',
            language: {
                noResults: function () {
                    return "Nenhum resultado encontrado";
                }
            }
        });

    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
