@using Microsoft.AspNetCore.Identity
@using Schwarz.Areas.Identity.Data


@inject SignInManager<SchwarzUser> SignInManager
@inject UserManager<SchwarzUser> UserManager

<nav class="mx-auto flex items-center justify-between p-3 lg:px-8 border-b-2 border-black" aria-label="Global" style="height:10vh">
    <div class="flex xl:flex-1">
        <a class="-m-1.5 px-6" href="/">
            <img b-i2l1w8dhfo="" class="h-8 w-auto" src="\image\Logo PNG Preta.png">
        </a>
    </div>
    <div class="flex xl:hidden">
        <button id="toggleSideBar" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" onclick="toggleHidden('sideBar')">
            <span class="sr-only">Abrir Menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </button>
    </div>

    <div class="items-center hidden xl:flex lg:gap-x-12 flex-1 justify-end">
        <div class="relative">
            <button id="toggleMenuIdeias" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuIdeias',this.id)">
                Ideias
            </button>

            <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoClose="false" id="subMenuIdeias">
                <div class="p-4">
                    <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                            <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/3447/3447545.png"></image>
                        </div>
                        <div class="flex-auto">
                            <a asp-action="Create" asp-controller="Ideia" class="block font-semibold text-gray-900">
                                Cadastrar
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>

                    <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                            <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                        </div>
                        <div class="flex-auto">
                            <a asp-action="Index" asp-controller="Ideia" class="block font-semibold text-gray-900">
                                Cadastradas
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>

                    <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3v11.25A2.25 2.25 0 006 16.5h2.25M3.75 3h-1.5m1.5 0h16.5m0 0h1.5m-1.5 0v11.25A2.25 2.25 0 0118 16.5h-2.25m-7.5 0h7.5m-7.5 0l-1 3m8.5-3l1 3m0 0l.5 1.5m-.5-1.5h-9.5m0 0l-.5 1.5m.75-9l3-3 2.148 2.148A12.061 12.061 0 0116.5 7.605" />
                            </svg>
                        </div>
                        <div class="flex-auto">
                            <a asp-action="Dashboard" asp-controller="Ideia" class="block font-semibold text-gray-900">
                                Dashboard
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @if (User.IsInRole("FuncionarioAdmin") || User.IsInRole("Admin"))
        {
            <div class="relative">
                <button id="toggleMenuFuncionario" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuFuncionario',this.id)">
                    Funcionários
                </button>

                <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoclose="false" id="subMenuFuncionario">
                    <div class="p-4">
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Index" asp-controller="Funcionario" class="block font-semibold text-gray-900">
                                    Funcionários
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-area="Identity" asp-page="/Account/Register" class="block font-semibold text-gray-900">
                                    Registrar Conta
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("Metrologia") || User.IsInRole("Lider") || User.IsInRole("Especialista"))
        {
            <div class="relative">
                <button id="toggleMenuAlertaCota" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuAlertaCota',this.id)">
                    Alertas Cotas
                </button>

                <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoclose="false" id="subMenuAlertaCota">
                    <div class="p-4">
                        @if (User.IsInRole("Lider") || User.IsInRole("Admin") || User.IsInRole("Especialista"))
                        {
                            <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                                <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                    <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                                </div>
                                <div class="flex-auto">
                                    <a asp-action="IndexProducao" asp-controller="AlertaCota" class="block font-semibold text-gray-900">
                                        Alertas Produção
                                        <span class="absolute inset-0"></span>
                                    </a>
                                </div>
                            </div>

                        }
                        @if (User.IsInRole("Metrologia") || User.IsInRole("Admin"))
                        {
                            <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                                <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                    <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                                </div>
                                <div class="flex-auto">
                                    <a asp-action="IndexMetrologia" asp-controller="AlertaCota" class="block font-semibold text-gray-900">
                                        Alertas Metrologia
                                        <span class="absolute inset-0"></span>
                                    </a>
                                </div>
                            </div>
                        }
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Dashboard" asp-controller="AlertaCota" class="block font-semibold text-gray-900">
                                    Dashboard
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("LicaoAprendida"))
        {
            <div class="relative">
                <button id="toggleMenuLicoesAprendidas" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuLicoesAprendidas',this.id)">
                    Lições Aprendidas
                </button>

                <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoclose="false" id="subMenuLicoesAprendidas">
                    <div class="p-4">
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/3447/3447545.png"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Create" asp-controller="LicaoAprendida" class="block font-semibold text-gray-900">
                                    Cadastrar
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>

                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Index" asp-controller="LicaoAprendida" class="block font-semibold text-gray-900">
                                    Lições Cadastradas
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (User.IsInRole("Admin") || User.IsInRole("TransporteMercadoria"))
        {
            <div class="relative">
                <button id="toggleMenuTransporteMercadorias" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuTransporteMercadorias',this.id)">
                    Transporte de Mercadorias
                </button>

                <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoclose="false" id="subMenuTransporteMercadorias">
                    <div class="p-4">
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/3447/3447545.png"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Create" asp-controller="TransporteMercadoria" class="block font-semibold text-gray-900">
                                    Registrar
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>

                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Index" asp-controller="TransporteMercadoria" class="block font-semibold text-gray-900">
                                    Registros
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="relative">
                <button id="toggleMenuPARE" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuPARE',this.id)">
                    PARE
                </button>

                <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoclose="false" id="subMenuPARE">
                    <div class="p-4">
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/3447/3447545.png"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Create" asp-controller="Pare" class="block font-semibold text-gray-900">
                                    Cadastrar
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>

                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="relative inline-block text-left">
                                <div>
                                    <a class="block font-semibold text-gray-900 hover:cursor-pointer" aria-autoclose="false" onclick="toggleHidden('dropDownIndexPare')">
                                        Registros
                                        <span class="absolute inset-0"></span>
                                    </a>
                                </div>
                                <div id="dropDownIndexPare" class="absolute left-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="menu-button">
                                    <div class="py-1" role="none">
                                        <a asp-action="Index" asp-controller="PareQualidade" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" id="menu-item-0">Qualidade do Produto</a>
                                        <a asp-action="Index" asp-controller="PareSeguranca" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" id="menu-item-1">Segurança do Colaborador</a>
                                        <a asp-action="Index" asp-controller="PareMeioAmbiente" class="text-gray-700 block px-4 py-2 text-sm" role="menuitem" id="menu-item-2">Meio Ambiente</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50 hidden">
                            <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                                <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                            </div>
                            <div class="flex-auto">
                                <a asp-action="Leaderboard" asp-controller="Pare" class="block font-semibold text-gray-900">
                                    Competidores
                                    <span class="absolute inset-0"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="relative">
            <button id="toggleMenuRecursosHumanos" type="button" class="flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900" onclick="toggleHidden('subMenuRecursosHumanos',this.id)">
                Recursos Humanos
            </button>

            <div class="absolute -left-8 top-full z-10 mt-3 w-screen max-w-72 overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5 hidden" aria-autoclose="false" id="subMenuRecursosHumanos">
                <div class="p-4">
                    <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                            <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/3447/3447545.png"></image>
                        </div>
                        <div class="flex-auto">
                            <a asp-action="Ramais" asp-controller="RecursosHumanos" class="block font-semibold text-gray-900">
                                Ramais
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>

                    <div class="group relative flex items-center gap-x-6 rounded-lg px-1 py-2 text-base leading-6 hover:bg-gray-50">
                        <div class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                            <image class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" src="https://cdn-icons-png.flaticon.com/512/1244/1244786.png?w=740&t=st=1680792505~exp=1680793105~hmac=9de02dd97a23bf4e508ad2cc3d2a5c2bbded4a87f078ab0c3ef8d31e0dee7b31"></image>
                        </div>
                        <div class="flex-auto">
                            <a asp-action="Aniversariantes" asp-controller="RecursosHumanos" class="block font-semibold text-gray-900">
                                Aniversariantes
                                <span class="absolute inset-0"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Shared/_LoginPartial.cshtml" />
    </div>
</nav>
<!-- NavBar Menu Mobile-->
<div class="xl:hidden hidden" role="dialog" aria-modal="true" aria-autoclose="false" id="sideBar">
    <div class="fixed inset-0 z-10"></div>
    <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
            <a asp-action="Index" asp-controller="Home" class="-m-1.5 p-1.5">
                <img class="h-8 w-auto" src="https://www.schwarz.com.br/wp-content/themes/schwarz/images/logotipo.png" alt="">
            </a>
            <button id="toggleSideBarMobile" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" onclick="toggleHidden('sideBar')">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                    <div class="-mx-3">
                        <button id="toggleMenuMobile" type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50" aria-controls="disclosure-1" onclick="toggleHidden('subMenuMobileIdeia',this.id)">
                            Ideias
                            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div class="mt-2 space-y-2 hidden" id="subMenuMobileIdeia" aria-autoclose="false">
                            <a asp-action="Create" asp-controller="Ideia" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cadastrar</a>

                            <a asp-action="Index" asp-controller="Ideia" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cadastradas</a>

                            <a asp-action="Dashboard" asp-controller="Ideia" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Dashboard</a>

                        </div>
                    </div>
                    <div class="-mx-3 hidden">
                        <button id="toggleMenuMobile" type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50" aria-controls="disclosure-1" onclick="toggleHidden('subMenuMobilePARE',this.id)">
                            PARE
                            <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div class="mt-2 space-y-2 hidden" id="subMenuMobilePARE" aria-autoclose="false">
                            <a asp-action="Create" asp-controller="CadastroPare" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cadastrar</a>

                            <a asp-action="Index" asp-controller="CadastroPare" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Falhas Cadastradas</a>

                            <a asp-action="Leaderboard" asp-controller="CadastroPare" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Competidores</a>
                        </div>
                    </div>
                    @if (User.IsInRole("TransporteMercadoria") || User.IsInRole("Admin"))
                    {
                        <div class="-mx-3">
                            <button id="toggleMenuTransporteMercadoria" type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50" aria-controls="disclosure-1" onclick="toggleHidden('subMenuMobileTransporteMercadoria',this.id)">
                                Transporte de Mercadoria
                                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <div class="mt-2 space-y-2 hidden" id="subMenuMobileTransporteMercadoria" aria-autoclose="false">
                                <a asp-action="Create" asp-controller="TransporteMercadoria" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cadastrar</a>

                                <a asp-action="Index" asp-controller="TransporteMercadoria" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Cadastros</a>

                            </div>
                        </div>
                    }
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <div class="-mx-3">
                            <button id="toggleMenuUserMobile" type="button" class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 hover:bg-gray-50 capitalize" aria-controls="disclosure-1" onclick="toggleHidden('subMenuMobileUser',this.id)">
                                Olá, @UserManager.Users.First(x => x.Id == UserManager.GetUserId(User)).Funcionario.Nome.ToLower()!
                                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            <div class="mt-2 space-y-2 hidden" id="subMenuMobileUser" aria-autoclose="false">
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="block no-underline rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-black hover:bg-gray-50">Meus Dados</a>
                                <form id="Form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="w-full text-left block rounded-lg py-2 pl-6 pr-3 text-base font-semibold leading-7 text-red-500 hover:bg-gray-50">Sair</button>
                                </form>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="py-6 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mx-5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                            </svg>
                            <a asp-area="Identity" asp-page="/Account/Login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Entrar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function toggleHidden(id, idbtn = "") {
        $(`#${id}`).toggle();

        var isAutoClose = $(`#${id}`).attr("aria-autoclose");

        if (isAutoClose == "false") {
            $(`#${id}`).attr("aria-autoclose", "true");
            document.addEventListener('click', function (event) {
                const element = document.getElementById(id);

                if (!element.contains(event.target) && event.target.id !== idbtn) {
                    $(`#${id}`).hide()
                }
            });
        }
    }
</script>