* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body, html {
    overflow-y: auto;
}

.box{
    position:relative;
    width:500px;
    height:500px;
}
.box span{
    position:absolute;
    inset:0;
    transform: rotate(calc(45deg * var(--i)))
}

    .box span::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 250px;
        height: 300px;
        animation: animate 2s steps(1) infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    @keyframes animate{
        0%,100% {
            background: url(https://cdn-icons-png.flaticon.com/512/3471/3471635.png);
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) translateY(-65px) scale(0.40);
        }
        50% {
            background: url(https://cdn-icons-png.flaticon.com/512/3625/3625060.png);
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) translateY(-65px) scale(0.50);
        }
    }

.centralize{
    display:flex;
    justify-content: center;
    align-items:center;
}

.loading{
    background: rgba(0,0,0,0.5);
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:9;
    font-size:50px;
    flex-direction:column;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


main {
    height: 80vh;
}


.footer {
    background: #222;
    align-items: center;
    text-align: center;
    border-top: 2px solid #0D0D0D;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    margin-top: 45px;
    margin-bottom: 10px;
    width: 85%;
    height: fit-content;
    padding: 5px 30px;
    border-radius: 20px;
    background: #0D0D0D;
    box-shadow: 0px 10px 40px #545454;
}


label {
    color: black;
}

.hide {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #FFFFFF;
    border-bottom: 3px solid #0D0D0D;
}

.nav-list {
    list-style: none;
    display: flex;
}

    .nav-list li {
        letter-spacing: 3px;
        margin-left: 32px;
    }

    .nav-list a {
        color: #0D0D0D;
        margin: 0 16px;
        font-size: 15px;
        text-decoration: none;
        transition: 0.4s;
        padding: 8px 16px;
        border-radius: 99px;
    }

        .nav-list a:hover {
            background-color: #A6A6A6;
        }

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    color: #0D0D0D;
}

#check {
    display: none;
}
@media (max-width: 999px) {

    main {
        height: 80vh;
    }

    .nav-list {
        position: absolute;
        z-index: 10;
        top: 10vh;
        right: 0;
        width: 100vw;
        height: 90vh;
        background: #545454;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(130%);
        transition: transform 0.3s ease-in;
    }

        .nav-list a {
            color: #FFFFFF;
        }

    .checkbtn {
        display: block;
    }

    #check:checked ~ ul {
        transform: translateX(0);
    }
}

@media(min-width: 999px) {

    .falha-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container .textfield {
        width: calc(100% /2 - 20px);
        margin: 0px 0 12px 0;
    }
}

.titulo {
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
    padding: 15px 20px;
}


.form-select {
    border: none;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    color: #0D0D0D;
    box-shadow: 0px 10px 40px #00000056;
}

.form-control {
    word-break: break-all;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #0D0D0D;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box
}

input {
    width: 100%;
}

.btn {
    padding: 16px 0px;
    border: 3px solid black;
    width: 150px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    background: #FFFFFF;
    color: #0D0D0D;
}

    .btn:hover {
        background: black;
        color: #FFFFFF;
    }

.btn-edit {
    background: #FFFFFF;
}

.btn-info {
    background: #FFFFFF;
}

.btn-danger {
    background: #FFFFFF;
}


.field-validation-error {
    color: #e01d1d;
}

.field-validation-valid {
    color: #e01d1d;
}

.btn-sm {
    border: none;
    background-color: #842029;
    color: #f8d7da;
}

.close-alert {
    position: absolute;
    right: 0px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

p {
    margin-bottom: 0px;
}

.radio__label {
    padding: 8px 7px;
    text-align: center;
    font-size: 15px;
    color: #0D0D0D;
    background: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.radio__input:checked + .radio__label {
    background: #3c3a3a;
    color: #FFFFFF;
}
