
* {
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}


.box{
    position:relative;
    width:500px;
    height:500px;
}
.box span{
    position:absolute;
    inset:0;
    transform: rotate(calc(45deg * var(--i)))
}

    .box span::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 250px;
        height: 300px;
        animation: animate 2s steps(1) infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    @keyframes animate{
        0%,100% {
            background: url(https://cdn-icons-png.flaticon.com/512/3471/3471635.png);
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) translateY(-65px) scale(0.40);
        }
        50% {
            background: url(https://cdn-icons-png.flaticon.com/512/3625/3625060.png);
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) translateY(-65px) scale(0.50);
        }
    }

.centralize{
    display:flex;
    justify-content: center;
    align-items:center;
}

.loading{
    background: rgba(0,0,0,0.5);
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:9;
    font-size:50px;
    flex-direction:column;
}


.field-validation-error {
    color: #e01d1d;
}

.field-validation-valid {
    color: #e01d1d;
}


.close-alert {
    position: absolute;
    right: 0px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

.radio__label {
    padding: 8px 7px;
    text-align: center;
    font-size: 15px;
    color: #0D0D0D;
    background: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.radio__input:checked + .radio__label {
    background: #3c3a3a;
    color: #FFFFFF;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    height: 50px;
    padding-top: 10px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

.select2 .selection {
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: #0D0D0D;
    box-shadow: 0px 10px 40px #00000056;
    height: 10px
}
.icone {
    width: 70px;
    height: 60px;
}


.triangle {
    border-top: 70rem solid #fff;
    border-left: 25rem solid transparent;
}


#notification.hide {
    animation: hide-notification 0.5s forwards;
}

@keyframes hide-notification {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.chat{
    position:fixed;
    bottom: 30px;
    right: 10px;
    z-index:9999;
    display:flex;
    align-items:center;
    color: black;
    background-color: #aaa;
    border-radius: 50px;
    padding: 10px;
    font-size: 1.25rem;
    font-weight:600;
}
    .chat:hover {
        background-color: #3c3a3a;
    }
a{
    text-decoration: none
}