* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}


.box{
    position:relative;
    width:500px;
    height:500px;
}
.box span{
    position:absolute;
    inset:0;
    transform: rotate(calc(45deg * var(--i)))
}

    .box span::before {
        content: '';
        position: absolute;
        left: 50%;
        width: 250px;
        height: 300px;
        animation: animate 2s steps(1) infinite;
        animation-delay: calc(0.1s * var(--i));
    }
    @keyframes animate{
        0%,100% {
            background: url(https://cdn-icons-png.flaticon.com/512/3471/3471635.png);
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) translateY(-65px) scale(0.40);
        }
        50% {
            background: url(https://cdn-icons-png.flaticon.com/512/3625/3625060.png);
            background-size: cover;
            background-position: center;
            transform: translateX(-50%) translateY(-65px) scale(0.50);
        }
    }

.centralize{
    display:flex;
    justify-content: center;
    align-items:center;
}

.loading{
    background: rgba(0,0,0,0.5);
    position:fixed;
    width: 100%;
    height: 100%;
    z-index:9;
    font-size:50px;
    flex-direction:column;
}

.container {
    border-radius: 20px;
    background: #0D0D0D;
    box-shadow: 0px 10px 40px #545454;
}

nav {
    position:relative;
    display: flex;
    height: 10vh;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 3px solid #0D0D0D;
}

.nav-list {
    display: flex;
    align-items:center;
    justify-content:space-around;
}

    .nav-list a {
        justify-content:center;
        color: #0D0D0D;
        font-size: 15px;
        text-decoration: none;
        transition: 0.4s;
        padding: 8px 16px;
        border-radius: 99px;
    }

        .nav-list a:hover {
            background-color: #A6A6A6;
        }

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    color: #0D0D0D;
}

#check {
    display: none;
}
@media (max-width: 999px) {
    .nav-list {
        position:fixed;
        top:10vh;
        bottom:0;
        z-index: 1045;
        height:100%;
        background: #545454;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        visibility:hidden;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

        .nav-list a {
            color: #FFFFFF;
        }

    .checkbtn {
        display: block;
    }

    #check:checked ~ ul {
        visibility: visible;
        transform: none;
    }
}

.form-select {
    border: none;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    color: #0D0D0D;
    box-shadow: 0px 10px 40px #00000056;
}

.form-control {
    word-break: normal;
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: #0D0D0D;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}


.btn {
    border: 3px solid black;
    width: 150px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    background: #FFFFFF;
    color: #0D0D0D;
}

    .btn:hover {
        background: black;
        color: #FFFFFF;
    }

.btn-edit {
    background: #FC8E08;
}

.btn-info {
    background: #499eca;
}

.btn-danger {
    background: #FF2036;
}


.field-validation-error {
    color: #e01d1d;
}

.field-validation-valid {
    color: #e01d1d;
}

.btn-sm {
    border: none;
    background-color: #842029;
    color: #f8d7da;
}

.close-alert {
    position: absolute;
    right: 0px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}

p {
    margin-bottom: 0px;
}

.radio__label {
    padding: 8px 7px;
    text-align: center;
    font-size: 15px;
    color: #0D0D0D;
    background: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.radio__input:checked + .radio__label {
    background: #3c3a3a;
    color: #FFFFFF;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    height: 50px;
    padding-top: 10px
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
}

.select2 .selection {
    border: none;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: #0D0D0D;
    box-shadow: 0px 10px 40px #00000056;
    height: 10px
}

.dataTables_wrapper {
    padding-bottom: 50px
}

    .dataTables_wrapper .dataTables_filter input {
        background-color: white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        background: #a3a3a3b0;
    }

    .dataTables_wrapper .dataTables_length select {
        background-color: white;
    }


    .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        background: #3e3e3e;
    }


.table td, .table th {
    padding: 12px 15px;
    text-align: center;
}

.table th {
    color: #FFFFFF;
    background-color: #0D0D0D;
}
