html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.dataTables_wrapper {
    padding-bottom: 50px
}

    .dataTables_wrapper .dataTables_filter input {
        background-color: white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        background: #a3a3a3b0;
    }

    .dataTables_wrapper .dataTables_length select {
        background-color: white;
    }


        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background: #3e3e3e;
        }


.table td, .table th {
    padding: 12px 15px;
    text-align: center;
}

.table th {
    color: #FFFFFF;
    background-color: #0D0D0D;
}
