@using Microsoft.AspNetCore.Identity
@using Schwarz.Areas.Identity.Data

@inject SignInManager<SchwarzUser> SignInManager
@inject UserManager<SchwarzUser> UserManager
@{
    ViewData["Title"] = "Página Inicial";
}

<div style="display:flex;justify-content:space-around;">
    <div class="card" style="width: 18rem;">
        <img src="https://img.freepik.com/free-vector/creative-hand-drawn-light-bulb-collection_23-2148966847.jpg?w=1060&t=st=1671671392~exp=1671671992~hmac=42b9106ad3aea9e9dd0d1d5f84abed1ac78fff0948e872d8f478b2edf0957e33" class="card-img-top" alt="imagem de lampadas">
        <div class="card-body">
            <h5 class="card-title">Programa de Ideias</h5>
            <p class="card-text">Nessa página você consegue realizar a busca e cadastro de Ideias!</p>
            <a asp-controller="Ideia" asp-action="Index" class="btn btn-primary">Acessar</a>
        </div>
    </div>
    @if (SignInManager.IsSignedIn(User) && UserManager.GetRolesAsync(UserManager.Users.First(x => x.Id == UserManager.GetUserId(User))).Result.Contains("Oleo"))
    {
        <div class="card" style="width: 18rem;">
            <img src="https://img.freepik.com/premium-photo/ecological-catastrophe-barrels-with-spilled-oil-which-tanker-floats-yellow-background_407474-1697.jpg?w=1380" class="card-img-top" alt="imagem de óleo">
            <div class="card-body">
                <h5 class="card-title">Controle do Óleo</h5>
                <p class="card-text">Aqui você pode encontrar cadastros de óleos, além de cadastrar novos!</p>
                <a asp-controller="Oleo" asp-action="Index" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    }
</div>